 @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    overflow-x: hidden;
}

 .container-fluid {
     margin-top: 101px;
     color: #000 !important
 }

 .card {
     color: #757575 !important;
     background-color: #fff !important;
     align-items: center !important;
     background: url('https://i.imgur.com/9djv5sH.jpg');
     background-size: contain;
     background-repeat: no-repeat;
     background-position: right calc(110px + (150 - 110) * ((100vw - 360px) / (1600 - 360))) bottom !important
 }

footer h2 {
     font-size: calc(25px + (45 - 25) * ((100vw - 360px) / (1600 - 360))) !important
 }

footer h5 {
     font-size: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .fa {
     cursor: pointer;
     font-size: 21px;
     margin: 5px 10px 5px 10px !important
 }

footer button {
     font-size: calc(12px + (13 - 12) * ((100vw - 360px) / (1600 - 320))) !important;
     padding-left: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important;
     padding-right: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important;
     padding-top: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
     padding-bottom: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
 }

footer button:focus {
     -moz-box-shadow: none !important;
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
     outline-width: 0
 }

footer li {
     margin-top: 10px;
     margin-bottom: 10px
 }

 input {
     border: 2px solid #E74783 !important
 }

 .input-group-lg>.custom-select,
 .input-group-lg>.form-control:not(textarea) {
     height: calc(40px + (48 - 40) * ((100vw - 360px) / (1600 - 360))) !important
 }

 input::-webkit-input-placeholder {
     padding-left: 5px !important;
     transform: translate3d(0, -4px, 0)
 }

 input::placeholder {
     vertical-align: middle !important;
     font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important
 }

 input:focus {
     -moz-box-shadow: none !important;
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
     outline-width: 0
 }

footer img {
     vertical-align: middle !important;
     width: 100%;
     height: auto;
     width: calc(17px + 6 * ((100vw - 320px) / 680))
 }

footer li:first-child {
     font-size: 21px !important;
     font-weight: bold;
     margin-bottom: calc(40px + (48 - 40) * ((100vw - 360px) / (1600 - 360))) !important;
     color: #757575 !important
 }

 footer {
     color: #757575 !important
     padding-bottom: 50px !important;
 }

 .social {
     position: relative;
     left: -10px
 }

 .cursor-pointer {
     cursor: pointer !important;
     color: #E74783;
     font-weight: bold
 }

.footer-img {
    width: 100px;
}

.copy-rights {
    color: #E74783;
}

#button-addon2 {
    background-color: #E74783;
    border: none;
}