@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

a:hover {
    text-decoration: none !important;
    color: black;
}

header {
  background-color: white;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  flex: 1;
}

.logo img {
  max-width: 100px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
}

.primary-button {
  background-color: #E74783;
  border: 5px solid #E74783;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: border-box;
}

.primary-button:hover {
  background-color: white;
  color: #E74783;
}

.button-secondary {
  border: none;
  color: #343434;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.button-secondary:hover {
  cursor: pointer;
  color: black;
  text-decoration: none;
  background: white;
}

/* Dropdown Button */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Styl przycisku dropdown */
.dropdown .dropbtn {
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.dropbtn {
    border: none;
    color: #343434 !important;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/* Zawartość dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  padding: 15px 40px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
}

.dropdown-content label {
    color: #343434;
    font-size: 14px;
    font-weight: bold;
}

/* Opcje dropdown */
.dropdown-content a {
  font-size: 13px;
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Opcje dropdown po najechaniu myszą */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Pokaż zawartość dropdown, gdy najedziemy na przycisk */
.dropdown:hover .dropdown-content {
  display: block;
}