<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Car Image Upload Form"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/car-info.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/img/icon.ico}">
</head>
<body>

<h1>Images Form</h1>
<hr>
<form action="/uploadImage" method="post" enctype="multipart/form-data">
    <input type="file" name="imageFile" />
    <input type="submit" value="Upload" />
</form>

</body>
</html>